{% extends 'base.html' %}
{% block content %}

<h1>Select Your Character</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="cc" type="submit">Create Character</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <button class="startgame" onclick="startGame()">Start Game</button>
    <script>
        function startGame() {
            window.location.href = "/start_game/";
        }
    </script>

{% endblock %}